page-sitesearch {
    .scroll-content
    {

        background:white !important;
     margin-bottom:25px !important   
    }

    .header {
        padding: 1% !important;
        background: hsl(0, 0%, 0%) !important;
    }
}
