<ion-card>
    
    
  <ion-card-content>
      <ion-item class="head">
          <div item-start class="tit">Add Service</div>
          </ion-item>
          <div class="main1">
              <ion-row>
                  <ion-col col-4 (click)="checked('yes')"><div [ngClass]="{'check1': ischeck.isyes,'check2': !ischeck.isyes}"   (click)="OpenService()">Services</div></ion-col>
                  <ion-col col-4 (click)="checked('no')"><div [ngClass]="{'check1': ischeck.isno,'check2': !ischeck.isno}"  (click)="AddParts()">Parts</div></ion-col>
                  <ion-col col-4></ion-col>
                </ion-row>
          </div>
    <div class="main" *ngIf="ServiceOpen">
      <ion-row>
        <ion-col col-5 class="sele"><span class="exp">Select Service:</span></ion-col>
        <ion-col col-7>
            <ion-select placeholder="--Select--" [(ngModel)]="AllPacks" (ionChange) ="onChange($event)" *ngIf="MainPackData.length != 0">
                  <ion-option disabled value="--Select--">--Select--</ion-option>      
                  <ion-option [value]="item.TITLE"  *ngFor="let item of MainPackData;">{{item.TITLE}}</ion-option>
                </ion-select>
               <ion-select *ngIf="MainPackData.length == 0">
                 <ion-option disabled>No Data !!</ion-option>
               </ion-select>
              </ion-col>
              
      </ion-row>         
      
     
      <p class="txt"  *ngIf="showservice">Currently showing Packages from the <span style="font-weight: bold">{{deptname}} Department,</span>&nbsp;<span style="color: red;text-decoration: underline;" (click)="ShowallDept()">click here</span> to change Department</p>
     <div *ngIf="Show">
      <ion-row class="tlb_hd" *ngIf="SelectService.length !=0">
       <ion-col col-5>
          Package
       </ion-col>
       <ion-col col-5>
          Items
       </ion-col>
       <ion-col col-2></ion-col>
     </ion-row>
     <!-- <ion-scroll style="height: 90px;" scrollY="true" *ngIf="SelectService.length !=0"> -->
        <div  style="height: 30vh;overflow-y: scroll;position: relative;display: block;">
            <div style="overflow-y: scroll;min-height: 30vh !important;">
      <div *ngFor="let item of SelectService;let i= index">
      
         <ion-row class="tld_bd">
       <ion-col col-5>
          {{item.TITLE}}
       </ion-col>
       <ion-col col-5>
          <span *ngFor="let itm of item.SERVICEITEMS;">{{itm.SERVICEITEMNAME}}</span>
        </ion-col>
        <ion-col col-2 class="ico"><ion-icon name="md-close-circle" (click)="Remove(i)"></ion-icon></ion-col>
     </ion-row>
    
    </div>
  <!-- </ion-scroll> -->
  </div>
  </div>
    </div>
        
      </div>
      <div class="main" *ngIf="addparts">
          <ion-row>
              <ion-col col-6>
                  
                      <div item-start class="vin">
                          <ion-label class="nmlb">Part Name:</ion-label>
                          <ion-item-divider class="nameinput">
                              <ion-input  #part type="text" [(ngModel)]="partname" (keyup)="onKey($event, prs)"></ion-input>
                            </ion-item-divider>
                      </div>
                 
              </ion-col>
              <ion-col col-4>
                  
                      <div item-start class="vin">
                          <ion-label class="nmlb">Price:</ion-label>
                          <ion-item-divider class="nameinput">
                              <ion-input #prs type="number" [(ngModel)]="price"></ion-input>
                          </ion-item-divider>
                          
                      </div>
                  
              </ion-col>
              <ion-col col-2></ion-col>
          </ion-row>
          <div *ngIf="hide">
            <div *ngIf="PartItems.length != 0">
              <ion-row class="tlb_hd" >
               <ion-col col-5>
                  PartName
               </ion-col>
               <ion-col col-5>
                  Price
               </ion-col>
               <ion-col col-2></ion-col>
             </ion-row>
             <!-- <ion-scroll style="height: 90px;" scrollY="true" *ngIf="SelectService.length !=0"> -->
                <div  style="height: 30vh;overflow-y: scroll;position: relative;display: block;">
                    <div style="overflow-y: scroll;min-height: 30vh !important;">
              <div *ngFor="let item of PartItems;let i= index">
              
                 <ion-row class="tld_bd">
               <ion-col col-5>
                  {{item.partname}}
               </ion-col>
               <ion-col col-5>
                 {{item.price}}
                </ion-col>
                <ion-col col-2 class="ico"><ion-icon name="md-close-circle" (click)="closepart(i)"></ion-icon></ion-col>
             </ion-row>
            
            </div>
          <!-- </ion-scroll> -->
          </div>
                </div>
            </div>
          </div>
      </div>
         <ion-row  *ngIf="ServiceOpen">
           <ion-col col-3></ion-col>
           <ion-col col-6><button ion-button small class="btn" (click)="SaveService()">Save</button> &nbsp;&nbsp;<button ion-button small class="btn1" (click)="Cancel()">Cancel</button></ion-col>
           <ion-col col-3></ion-col>
         </ion-row>
         <ion-row  *ngIf="addparts">
            <ion-col col-2></ion-col>
            <ion-col col-3><button ion-button small class="btn"(click)="AddMore()">Add more</button></ion-col>
            <ion-col col-2><button ion-button small class="btn" (click)="SaveService()">Save</button></ion-col>
            <ion-col col-3><button ion-button small class="btn1" (click)="Cancel()">Cancel</button></ion-col>
            <ion-col col-2></ion-col>
          </ion-row>
  </ion-card-content>
</ion-card>