<ion-card>
    
    
    <ion-card-content>
        <ion-item class="head">
            <div item-start class="tit">Add Service</div>
            </ion-item>
            
      <div class="main">
        
        <ion-row>
          <ion-col col-5  style="max-width: 34% !important;padding: 14px 0 0 8px;"><span class="exp">Select Service:</span></ion-col>
          <ion-col col-7>
              <!-- <ion-select placeholder="--Select--" [(ngModel)]="AllPacks" (ionChange) ="onChange($event)" *ngIf="AddServiceData.length != 0">
                  <ion-option disabled value="--Select--" >--Select--</ion-option> 
                    <ion-option [value]="item.TITLE"  *ngFor="let item of AddServiceData;">{{item.TITLE}}</ion-option>
                  </ion-select> -->
                  <div style="width: 100%;flex-grow: 1;padding: 3px;justify-content: center;" id="allPacks">
                    <custom-select class="gheader" name="dataOption" defaultOptTxt="Select" [(value)]="selectPack" [optionsModel]="AddServiceData" (change)="onChange($event)"></custom-select>
                  </div>

                  <!-- <ion-select *ngIf="AddServiceData.length == 0">
                      <ion-option disabled>No Data !!</ion-option>
                    </ion-select> -->
          </ion-col>
        </ion-row>
        
            <!-- <div class="exp">Select Service:</div> 
            
                
                <ion-select  [(ngModel)]="AllPacks" (ionChange) ="onChange(AllPacks)">
                  <ion-option placeholder="Select" disabled ></ion-option>
                  <ion-option [value]="item.TITLE"  *ngFor="let item of ServiceData">{{item.TITLE}}</ion-option>
                  </ion-select> -->
              
        
        
        <p class="txt">Currently showing Packages from <span style="font-weight: bold">{{Depname}} Department</span></p>
       <div *ngIf="Show" [ngClass]="SelectService.length ==0 ?'htdiv':''">
        <ion-row class="tlb_hd" *ngIf="SelectService.length !=0">
         <ion-col col-6 style="color: white;max-width: 141px;border-right: 1px solid #dee2e6;">
            Package
         </ion-col>
         <ion-col col-6 style="color: white;">
            Items
         </ion-col>
         
       </ion-row>
      
       
        <div class="flexcont">
          <div style="flex-grow: 1">
        <div *ngFor="let item of SelectService ;let i= index">
        
           <ion-row class="" >
         <!-- <ion-col col-5>
            {{item.TITLE}}
         </ion-col>
         <ion-col col-5>
            <span *ngFor="let itm of item.SERVICEITEMS;">{{itm.SERVICEITEMNAME}}</span>
          </ion-col>
          <ion-col col-2 class="ico"><ion-icon name="md-close-circle" (click)="Remove(i)"></ion-icon></ion-col> -->
          <table  class="gridtable table-bordered">
            <!-- <thead _ngcontent-ycj-c19="">
              <tr _ngcontent-ycj-c19="">
                <th _ngcontent-ycj-c19="">Package</th>
                <th _ngcontent-ycj-c19="">Items</th>
                <th _ngcontent-ycj-c19=""></th>
              </tr>
            </thead> -->
            <tbody>
              <tr  rowspan="item.SERVICEITEMS.length" class="ng-star-inserted">
                <td >{{item.name}}</td>
                <td  style="padding: 2px 0px;;">
                  <table  style="border: hidden;width: 100%;">
                    <tbody >
                      <!---->
                      <tr  *ngFor="let itm of item.SERVICEITEMS;" [ngClass]="this.DupIds.indexOf(itm.SSIID) !== -1 ? 'red' : 'class-2' ">
                        <td>{{itm.SERVICEITEMNAME}}</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td  style="width: 1%;"><ion-icon name="md-close-circle" (click)="Remove(i)"></ion-icon></td>
              </tr>
              
            </tbody>
          </table>
       </ion-row>

      
      </div>
    </div>
    </div>
    
    
    
      </div>
          <ion-row style="margin-top: 7px;">
              <ion-col col-2 class="not"><span class="spn">Notes:</span></ion-col>
              <ion-col col-10><ion-textarea rows="2" autosize class="txtarea" [(ngModel)]="notes"></ion-textarea></ion-col>
            </ion-row>
        </div>
           <ion-row>
             <ion-col col-3></ion-col>
             <ion-col col-6><button ion-button small class="btn" (click)="FixWo()">Save</button> &nbsp;&nbsp;<button ion-button small class="btn1" (click)="Cancel()">Cancel</button></ion-col>
             <ion-col col-3></ion-col>
           </ion-row>
              
    </ion-card-content>
</ion-card>