<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>594757193016-22qsk7of77357sfqc6p8dmodhaupuaqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.594757193016-22qsk7of77357sfqc6p8dmodhaupuaqg</string>
	<key>API_KEY</key>
	<string>AIzaSyBBmUGFmxgzNZVDNtffM4u0srHCVSpehN8</string>
	<key>GCM_SENDER_ID</key>
	<string>594757193016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pllc.pace2emp</string>
	<key>PROJECT_ID</key>
	<string>pace2emp</string>
	<key>STORAGE_BUCKET</key>
	<string>pace2emp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:594757193016:ios:65f65d182907cbbbbfc5cd</string>
	<key>DATABASE_URL</key>
	<string>https://pace2emp.firebaseio.com</string>
</dict>
</plist>