<div class="flex">
  <div class="flexclass">
<ion-card>
  <ion-card-content class="flex-container">
      <ion-item class="head">
          <div item-start class="tit">Feedback</div>
          
          <div item-end class="add" (click)="addFeedBackForm()" ><ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon> Add</div>
        </ion-item>

   
      <div *ngIf="feedBackArray.length != 0">
        <div style="height:57vh;overflow-y: scroll;position: relative;display: block;">
         <div style="overflow-y: scroll;min-height:50vh !important;">
          <div *ngFor="let item of feedBackArray; let i = index;let last = last">
            <div >
            <div class="notesTextDivBlock" >
              <div>{{item.WOFFEED}}</div>
              
            </div>
            <div class="notesNameBottomDiv" [ngClass]="{'woseboader':i>1?!last :'last','not': true}">
              <div class="name">- {{item.employeeName}} @ {{item.workOrderFDate}}</div>
            </div>
          </div>
          </div>
       </div>
        </div>
      </div>
   

    <div class="noNotesDiv" *ngIf="feedBackArray.length==0"><p class="nodata">Feedback not available</p></div>

    <div class="notesAddDiv"  *ngIf="show">
      
        <div style="flex-grow: 1;">
          <ion-textarea autosize class="txtarea" [(ngModel)]="feedBackTxt"></ion-textarea>
        </div>
        <div style="padding: 5px 0px 5px 5px;max-width: 200px;">
          <button ion-button small class="btn2" (click)="saveFeedBack()">Save</button><br>
          <button ion-button small class="btn1" (click)="Cancel()">Cancel</button>
        </div>
      
    </div>
     
    <ion-row *ngIf="!show">
        <ion-col col-5></ion-col>
        <ion-col col-2><button ion-button small class="btn" (click)="Close()" >Close</button></ion-col>
        <ion-col col-5></ion-col>
      </ion-row>
     
    </ion-card-content>
  </ion-card>
</div>
</div>