<!-- Generated template for the WorkordereditComponent component -->
<ion-card class="flex-container">
    <div class="mainclass" *ngIf="action == 'edit'">
        <!-- <div class="mainheader">
        <p ><strong>Edit Work Order Information</strong> </p>
      </div>
      <div class="maincontent">
        <ion-row>
          <ion-col col-6>
            <p><strong>VIN :</strong></p>
            <ion-item id="rounded">
              <ion-input type="text" (keyup)="keyup($event,'VINID')" [disabled]="isReadonly()"
                [(ngModel)]="workOrderObj.VINID" (ionBlur)="FillStock()" (ionChange)="maxVin($event)">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <p><strong>STOCK :</strong></p>
            <ion-item id="rounded">
              <ion-input type="text" (keyup)="keyup($event,'STOCKID')" [(ngModel)]="workOrderObj.STOCKID" (ionChange)="maxStock($event)">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>
            <p><strong>RO :</strong></p>
            <ion-item id="rounded">
              <ion-input type="text" (keyup)="keyup($event,'RO')" [(ngModel)]="workOrderObj.RO">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-6>
            <p><strong>PO :</strong></p>
            <ion-item id="rounded">
              <ion-input type="text" (keyup)="keyup($event,'PO')" [(ngModel)]="workOrderObj.PO">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-12 class="buttonslist">
            <div class="btninline">
              <button ion-button (click)="updateWO();">Update</button> <button ion-button class="btn-warning"
                (click)="cancel()">Cancel</button>
            </div>
    
          </ion-col>
    
        </ion-row>
      </div> -->
        <!-- Generated template for the WorkordereditComponent component -->
        <ion-card class="flex-container">
            <div class="mainclass">
                <div class="mainheader">
                    <p><strong>Edit Work Order</strong> </p>
                </div>
                <div class="maincontent">

                    <ion-row style="padding: 5px;">
                        <ion-col col-12 style="padding:0px !important;">
                            <p><strong>VIN :</strong></p>
                        </ion-col>
                        <ion-col col-10 style="padding:0px;border: 1px solid lightgrey;">
                            <ion-item no-lines style="box-shadow:unset;padding:0px;margin:0px;min-height:4.3rem!important;background:white">
                                <ion-input (keyup)="keyup($event,'VINID')" type="text" name="vin" [(ngModel)]="workOrderObj.VINID" (ionChange)="maxVin($event)" style="padding:0px 0px 0px 5px;background:white;color:black;height:4.3rem"></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-2 style="padding:0px;">
                            <button ion-button large color="dark" clear (click)="scan()" item-end style="border-top-left-radius:0px;border-bottom-left-radius:0px;background-color:#191919 !important;height:4.5rem;margin:0px;padding:1rem;">
                              <img src="assets/imgs/scan_icon.png"  />
                            </button>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col col-12>
                            <p><strong>STOCK :</strong></p>
                            <ion-item id="rounded">
                                <ion-input type="text" [(ngModel)]="workOrderObj.STOCKID" (ionChange)="maxStock($event)">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <p><strong>RO #:</strong></p>
                            <ion-item id="rounded">
                                <ion-input type="text" (keyup)="keyup($event,'RO')" [(ngModel)]="workOrderObj.RO">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col col-6>
                            <p><strong>PO #:</strong></p>
                            <ion-item id="rounded">
                                <ion-input type="text" (keyup)="keyup($event,'PO')" [(ngModel)]="workOrderObj.PO">
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12 class="buttonslist">
                            <button ion-button outline color="dark" (click)="cancel()">Cancel</button>
                            <button ion-button color="primary" (click)="updateVinOrStock();">Update</button>

                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-card>

    </div>

    <div class="confirmmain" *ngIf="action=='void'">
        <div class="title">
            <p class="ttext"><strong>Please confirm</strong></p>
        </div>
        <div class="title">
            <p>Are you sure you want to void?</p>
        </div>
        <div>
            <ion-row>
                <ion-col col-12 class="buttonslist">
                    <div class="btninline">
                        <button ion-button outline color="dark" (click)="cancel()">Cancel</button>
                        <button ion-button (click)="voidWorkOrders()">&nbsp;ok&nbsp;</button>
                    </div>

                </ion-col>

            </ion-row>
        </div>
    </div>
    <div class="mainclass" *ngIf="action=='addparts'">
        <div class="mainheader">
            <p><strong>Add Parts</strong> </p>
        </div>
        <div class="maincontent">
            <div>
                <ion-row>
                    <ion-col col-8>
                        <p><strong>Part Name:</strong></p>
                        <ion-item id="rounded">
                            <ion-input type="text" [(ngModel)]="partObj.part" tabindex="0">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col col-4>
                        <p><strong>Price :</strong></p>
                        <ion-item id="rounded">
                            <ion-input type="number" maxlength="6" [(ngModel)]="partObj.price" tabindex="1">
                            </ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>

                    <ion-col col-12 class="note">
                        <p><strong>Notes :</strong></p>
                        <ion-item id="rounded2">
                            <ion-textarea row="10" [(ngModel)]="partObj.note" tabindex="2"></ion-textarea>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </div>

            <div class="addpartsheader" *ngIf="addparts.length>0">
                <ion-row>
                    <ion-col col-6>
                        <p>Part Name</p>
                    </ion-col>
                    <ion-col col-6>
                        <p>Price</p>
                    </ion-col>
                </ion-row>
            </div>
            <div class="addpartsbody" *ngIf="addparts.length>0" style="max-height: 100px; overflow-y: scroll;">
                <ion-row *ngFor="let part of addparts;let i =index;let last = last" [ngClass]="{'woseboader':!last}">
                    <ion-col col-6>
                        <p>{{part.part}}</p>
                    </ion-col>
                    <ion-col col-4>
                        <p>{{part.price}}</p>
                    </ion-col>
                    <ion-col col-2 style="text-align:center">
                        <ion-icon name="md-close-circle" (click)="remove(i)"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
            <div>
                <ion-row>
                    <ion-col col-12 class="buttonslist">
                        <div class="btninline">
                            <button ion-button outline color="dark" (click)="cancel()">Cancel</button>
                            <button ion-button (click)="addParts()">Add more</button>
                            <button ion-button (click)="save()">Save</button>
                        </div>

                    </ion-col>

                </ion-row>
            </div>

        </div>
    </div>
</ion-card>