<div style="float:left;width:15%;display:flex;align-items:center;justify-content:center;padding-top:4%" class="div1">
  <ion-buttons start style="float:left;margin-top:0%;">
    <button menuToggle style="background:transparent;border:1px solid #afafaf;border-radius:50%;font-size:0.5rem">
      <ion-icon name="menu" style="color:#afafaf;font-size:3rem"></ion-icon>
    </button>
  </ion-buttons>
</div>
<div style="float:left;position: relative;width:45%;text-align:right;padding-top:4.5%" class="div2">
  <div style="display: inline-block !important;" >
    <img src="assets/imgs/login/paceops_trans.png" style="height:4rem" (click)="GotoHome()" />
    <p *ngIf="siteNameInHeader==true"
      style="color:#1264c4;margin:0px !important;font-weight: bolder;display:flex !important; justify-content: center !important;align-items: center !important;font-size: 1.5rem !important;">
      <strong>{{headerName}}</strong></p>
  </div>
</div>
<div style="width:30%;position: relative;float:right;margin-top:2.5%">
  <div style="float:left;width:100%;font-size:0rem">

    <ion-item no-lines style="background:transparent;box-shadow:unset" end class="myitem">

      <ion-avatar class="avatars">
        <img src="{{emplogo}}"
          onError="this.src='assets/imgs/workorderqueue/no-user-image.png'"
         >

      </ion-avatar>
    </ion-item>
  </div>
  <!-- <div style="float:left;width:100%;text-align: center;font-size:0rem">
    <span
      style="color:white;font-size:1.2rem; font-family: 'HelveticaNeueLTStd-Md';text-transform:uppercase">{{empname}}</span>
  </div>
  <div style="float:left;width:100%;text-align:center;font-size:0rem">
    <span
      style="color:#208cfe;font-size:1rem; font-family: 'HelveticaNeueLTStd-Md';text-transform:uppercase">{{emprole}}</span>
  </div> -->
</div>