<!-- Generated template for the CustomSelectComponent component -->
<div class="md-select" (click)="openDropDown($event)" [class.active]="dropDownActive">
                                    
    <label >
        <button type="button" [style.color]='color'>{{text}}</button>
        
    </label>
    <ul *ngIf="optionsModel!=null" role="listbox"  class="md-whiteframe-z1" >
        <li role="option" id="Cust0"  (click)="selcVal(0)" [class.active]="value==0" [ngClass]="optSelectActive == false ? 'inactive': ''" value="0">{{dOptTxt}}</li>
        <li role="option" id="Cust{{item[optValue]}}" (click)="selcVal(item[optValue])" [class.active]="value==item[optValue]" [style.color]="item[optColor]" value="{{item[optValue]}}"  *ngFor="let item of optionsModel">
            <label *ngIf="optLblTxt=='N'">{{item[optName]}}</label>
            <label *ngIf="optLblTxt=='Y'">{{item[optName]+' '+'($'+item['Price']+')'}}</label>
        </li>
    </ul>
  </div>