<div class="flex1">
    <!-- <div *ngIf="type == 'woexp'" class="flexclass1">
        <pace2exception [workid]="woid" [Depname]="Dname" [Depid]="Did"></pace2exception>
    </div> -->

    <div *ngIf="type == 'service'" class="flexclass1">
            <pace2addservice [workid]="woid" [Depname]="Dname" [Depid]="Did" [FCID]="fcid"></pace2addservice>
        </div>
        <div *ngIf="type == 'delete' || type == 'process'" class="flexclass1"> 
                <pace2delete [workid]="woid" [typeName]="type"></pace2delete>
            </div>
            <div *ngIf="type == 'CreateNew'" class="flexclass1">
                    <pace2createnewservice [workid]="woid" [NotesData]="notes"></pace2createnewservice>
                </div>
                <div *ngIf="type == 'notes'" class="flexclass">
                        <pace2notes [SId]="SId"  [Wodata]="Wodata" [NoteType]="NoteType"></pace2notes>
                    </div>
                     <div *ngIf="type == 'dept'" class="flexclass1">
                        <pace2selectdepartment [Departments]="Deptdata" [modalno]="modalno" [PackId]="Packid"></pace2selectdepartment>
                    </div>
                   <!-- <div *ngIf="Type == 'feedBack'" class="flexclass1">
                        <FeedBackComponent [Wodata]="wodataObj" [Type]="Type" [loggedEmp]="loggedEmp"></FeedBackComponent>
                    </div> -->
</div>
<!-- <div class="flex">
    <div *ngIf="type == 'notes'" class="flexclass">
        <pace2notes  [Wodata]="Wodata" [NoteType]="NoteType"></pace2notes>
    </div>
    
</div> -->